/*
  //=require_directory .
  //=require_tree ../../widgets
*/
@-webkit-keyframes status-warning-background {
  0% {
    background-color: #e82711; }
  50% {
    background-color: #9b2d23; }
  100% {
    background-color: #e82711; } }
@-webkit-keyframes status-danger-background {
  0% {
    background-color: #eeae32; }
  50% {
    background-color: #ff9618; }
  100% {
    background-color: #eeae32; } }
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color: #222;
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

b, strong {
  font-weight: bold; }

a {
  text-decoration: none;
  color: inherit; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

img, object {
  max-width: 100%; }

iframe {
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td {
  vertical-align: middle; }

ul, ol {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0; }

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 10px;
  font-weight: 400; }

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: #fff; }

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em; }

.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none; }

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center; }

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em; }

.gridster {
  margin: 0px auto; }
  .gridster .gs_w {
    z-index: 2;
    position: absolute; }
  .gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3; }
  .gridster .player-revert {
    z-index: 10 !important;
    -webkit-transition: left 0.3s, top 0.3s !important;
    -moz-transition: left 0.3s, top 0.3s !important;
    -o-transition: left 0.3s, top 0.3s !important;
    transition: left 0.3s, top 0.3s !important; }
  .gridster .dragging {
    z-index: 10 !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important; }

.ready .gs_w:not(.preview-holder) {
  -webkit-transition: opacity .3s, left .3s, top .3s;
  -moz-transition: opacity .3s, left .3s, top .3s;
  -o-transition: opacity .3s, left .3s, top .3s;
  transition: opacity .3s, left .3s, top .3s; }

.icon-background {
  width: 100% !important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px; }

.list-nostyle {
  list-style: none; }

.gridster ul {
  list-style: none; }

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer; }

.widget {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: top;
  background-color: #333; }

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0; }

.updated-at {
  font-size: 15px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0; }

#save-gridster {
  display: none;
  position: fixed;
  top: 0;
  margin: 0px auto;
  left: 50%;
  z-index: 1000;
  background: black;
  width: 190px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
  margin-left: -95px;
  padding: 15px; }

#save-gridster:hover {
  padding-top: 25px; }

#saving-instructions {
  display: none;
  padding: 10px;
  width: 500px;
  height: 122px;
  z-index: 1000;
  background: white;
  top: 100px;
  color: black;
  font-size: 15px;
  padding-bottom: 4px; }
  #saving-instructions textarea {
    white-space: nowrap;
    width: 494px;
    height: 80px; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

#container {
  padding-top: 5px; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #ffffff; }

@font-face {
  font-family: 'Climacons-Font';
  src: url("/assets/fonts/climacons-webfont.eot");
  src: url("/assets/fonts/climacons-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/climacons-webfont.woff") format("woff"), url("/assets/fonts/climacons-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.widget-change-page {
  background-color: #000 !important; }
  .widget-change-page .title {
    color: rgba(255, 255, 255, 0.7); }

.widget-clock {
  background-color: #dc5945; }

.widget-comments {
  background-color: #eb9c3c; }
  .widget-comments .title {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px; }
  .widget-comments .name {
    padding-left: 5px; }
  .widget-comments .comment-container {
    display: none; }
  .widget-comments .more-info {
    color: rgba(255, 255, 255, 0.7); }

.widget-graph {
  background-color: #dc5945;
  position: relative; }
  .widget-graph svg {
    position: absolute;
    opacity: 0.4;
    fill-opacity: 0.4;
    left: 0px;
    top: 0px; }
  .widget-graph .title, .widget-graph .value {
    position: relative;
    z-index: 99; }
  .widget-graph .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-graph .more-info {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0; }
  .widget-graph .x_tick {
    position: absolute;
    bottom: 0; }
    .widget-graph .x_tick .title {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.4);
      opacity: 0.5;
      padding-bottom: 3px; }
  .widget-graph .y_ticks {
    font-size: 20px;
    fill: rgba(0, 0, 0, 0.4);
    fill-opacity: 1; }
  .widget-graph .domain {
    display: none; }

.widget-iframe {
  padding: 3px 0px 0px 0px !important; }
  .widget-iframe iframe {
    width: 100%;
    height: 100%; }

.widget-image {
  background-color: #4b4b4b; }

.widget-list {
  background-color: #12b0c5;
  vertical-align: top; }
  .widget-list .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-list ol, .widget-list ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7); }
  .widget-list ol {
    list-style-position: inside; }
  .widget-list li {
    margin-bottom: 5px; }
  .widget-list .list-nostyle {
    list-style: none; }
  .widget-list .label {
    color: rgba(255, 255, 255, 0.7); }
  .widget-list .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: #fff; }
  .widget-list .updated-at {
    color: rgba(0, 0, 0, 0.3); }
  .widget-list .more-info {
    color: rgba(255, 255, 255, 0.7); }

.widget-meter {
  background-color: #9c4274; }
  .widget-meter input.meter {
    background-color: #662b4c;
    color: #fff; }
  .widget-meter .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-meter .more-info {
    color: rgba(255, 255, 255, 0.3); }
  .widget-meter .updated-at {
    color: rgba(0, 0, 0, 0.3); }

.widget-number {
  background-color: #47bbb3; }
  .widget-number .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-number .value {
    color: #fff; }
  .widget-number .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: #fff; }
  .widget-number .more-info {
    color: rgba(255, 255, 255, 0.7); }
  .widget-number .updated-at {
    color: rgba(0, 0, 0, 0.3); }

.widget-stcontact .title {
  color: #444; }
.widget-stcontact .icon-open {
  color: #ff00aa; }
.widget-stcontact .icon-closed {
  color: #888888; }

.widget-stdimmer {
  background-color: #444 !important;
  position: relative; }
  .widget-stdimmer .title {
    color: #fff;
    margin-bottom: 0;
    margin-top: 10px; }
  .widget-stdimmer .dimmer-icon-off .dimmer-icon-on {
    font-size: 150%; }
  .widget-stdimmer .dimmer-icon-off {
    color: #888888; }
  .widget-stdimmer .dimmer-icon-on {
    color: #aaff00; }
  .widget-stdimmer .toggle-area {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; }
  .widget-stdimmer .level {
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7); }
  .widget-stdimmer .unit {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7); }
  .widget-stdimmer .secondary-icon {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    width: 32px;
    color: #888888; }
    .widget-stdimmer .secondary-icon.plus {
      right: 24px; }
      .widget-stdimmer .secondary-icon.plus i {
        padding-top: 10px;
        padding-left: 30px; }
    .widget-stdimmer .secondary-icon.minus {
      left: 8px; }
      .widget-stdimmer .secondary-icon.minus i {
        padding-top: 10px;
        padding-right: 30px; }

.widget-sthumidity .title {
  color: #fff; }
.widget-sthumidity .value {
  color: #00aaff;
  display: inline-block;
  vertical-align: middle; }
.widget-sthumidity .unit {
  color: #00aaff;
  font-size: 250%;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 5px; }

.widget-stlock {
  background-color: #444 !important; }
  .widget-stlock .title {
    color: #fff; }
  .widget-stlock .icon-unlocked {
    color: #ff00aa; }
  .widget-stlock .icon-locked {
    color: #fff; }

.widget-stmeter input.stmeter {
  background-color: #444;
  color: #aa00ff; }
.widget-stmeter .title {
  color: #fff; }

.widget-stmode .title {
  color: #fff; }
.widget-stmode .mode {
  color: #fff; }

.widget-stmodechange {
  background-color: #444; }
  .widget-stmodechange .title {
    color: #fff; }
  .widget-stmodechange .mode {
    font-size: 120%; }
  .widget-stmodechange i {
    font-style: normal; }
  .widget-stmodechange .container {
    position: relative;
    height: 75px; }
  .widget-stmodechange .icon, .widget-stmodechange .timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .widget-stmodechange .timer {
    z-index: 1; }
  .widget-stmodechange .icon-inactive {
    color: #888888; }
  .widget-stmodechange .icon-active {
    color: #aaff00; }

.widget-stmotion .title {
  color: #fff; }
.widget-stmotion .icon-active {
  color: #ff00aa; }
.widget-stmotion .icon-inactive {
  color: #888888; }

.widget-stpresence .title {
  color: #fff; }
.widget-stpresence .icon-present {
  color: #aaff00; }
.widget-stpresence .icon-absent {
  color: #888888; }

.widget-select-color {
  background-color: #000 !important; }
  .widget-select-color .title {
    color: rgba(255, 255, 255, 0.7); }

.widget-select-color {
  background-color: #000 !important; }
  .widget-select-color .title {
    color: rgba(255, 255, 255, 0.7); }

.widget-select-color {
  background-color: #000 !important; }
  .widget-select-color .title {
    color: rgba(255, 255, 255, 0.7); }

.widget-select-color {
  background-color: #000 !important; }
  .widget-select-color .title {
    color: rgba(255, 255, 255, 0.7); }

.widget-stswitch {
  font-size: 150%;
  background-color: #000 !important; }
  .widget-stswitch .title {
    color: #fff; }
  .widget-stswitch .switch-icon-off .switch-icon-on {
    font-size: 150%; }
  .widget-stswitch .switch-icon-off {
    color: #888888;
    background-color: #000 !important; }
  .widget-stswitch .switch-icon-on {
    color: #aaff00; }

.widget-sttemp .title {
  color: #fff; }
.widget-sttemp .value {
  color: #00aaff;
  display: inline-block;
  vertical-align: middle;
  font-size: 200%; }
.widget-sttemp .unit {
  color: #00aaff;
  font-size: 160%;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 5px; }

.widget-stweather h1 {
  margin-bottom: 0px; }
.widget-stweather .colored {
  color: #ffaa00 !important; }
.widget-stweather [class^="primary"] {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px; }
.widget-stweather [class^="secondary"] {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.6); }
.widget-stweather .primary-climacon {
  font-family: "Climacons-Font";
  font-size: 70px; }
.widget-stweather .primary-info {
  font-size: 280%;
  font-weight: 400; }
.widget-stweather .primary-unit {
  font-size: 200%;
  font-weight: 400;
  margin-left: 0;
  margin-top: 20px;
  vertical-align: top; }
.widget-stweather .secondary-icon {
  font-family: "Climacons-Font";
  font-size: 40px;
  margin-left: 10px;
  margin-right: 0px; }
.widget-stweather .secondary-climacon {
  font-family: "Climacons-Font";
  font-size: 35px;
  margin-left: 10px;
  margin-right: 10px; }
.widget-stweather .secondary-info {
  font-size: 80%;
  font-weight: 200; }
.widget-stweather hr {
  width: 90%;
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin-top: 15px;
  margin-bottom: 15px; }

.widget-text {
  background-color: #ec663c; }
  .widget-text .title {
    color: rgba(255, 255, 255, 0.7); }
  .widget-text .more-info {
    color: rgba(255, 255, 255, 0.7); }
  .widget-text .updated-at {
    color: rgba(255, 255, 255, 0.7); }
  .widget-text.large h3 {
    font-size: 65px; }

/*# sourceMappingURL=application.css.map */
