<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/images/favicon.ico">

</head>
  <body>
    <div id="container">
      <div class="gridster">
		  <ul>
		    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
		      <div style="background-color:purple" onclick="location.href='/setmode/Sleeping'"  data-view="Text" data-title="Click to set mode" data-text="Sleeping"></div>
		    </li>

		    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
		      <div style="background-color:#0066CC" onclick="location.href='/setmode/Home'"  data-view="Text" data-title="Click to set mode" data-text="Home"></div>
		    </li>
		    

		    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
		      <div style="background-color:#333CCC" onclick="location.href='/setmode/Arrive After Sleeping'"  data-view="Text" data-title="Click to set mode" data-text="Late Night"></div>
		    </li>

		    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
		      <div style="background-color:#000099" onclick="location.href='/setmode/Movie'"  data-view="Text" data-title="Click to set mode" data-text="Movie"></div>
		    </li>

		    <li data-row="4" data-col="4" data-sizex="2" data-sizey="1">
		      <div style="background-color:orange" onclick="location.href='/setmode/Test Mode'"  data-view="Text" data-title="Click to set mode" data-text="Test Mode"></div>
		    </li>

		    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
		      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
		    </li>

		    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
		      <div style="background-color:#6600CC" data-view="Text" data-text="Back" data-iconm="arrow-left" data-page="1"></div>
		    </li>

		  </ul>
	    </div>
	</div>
  </body>
</html>