<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/images/favicon.ico">

</head>
  <body>
    <div id="container">
      <div class="gridster">
        <ul>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="stswitch" data-view="Stswitch" data-title="Server Room AC" data-device="Server Room AC" data-iconm="connectdevelop"></div>
          </li>

          </li>
          <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="stswitch" data-view="Stswitch" data-title="Living Room Lamp" data-device="Living Room Lamp" data-iconm="lightbulb-o"></div>
          </li>

          </li>
          <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="stswitch" data-view="Stswitch" data-title="House Sitter Enable" data-device="House Sitter Enable" data-iconm="life-ring"></div>
          </li>

          <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
            <div style="background-color:#6600CC" onclick="location.href='/'" data-view="Text" data-title="" data-text="Back" data-iconm="arrow-left"></div>
          </li>
        </ul>
    </div>
  </body>
</html>