// ----------------------------------------------------------------------------
// Widget-stcontact styles
// ----------------------------------------------------------------------------
.widget-stcontact {

  .title {
    color: #444;
  }

  .icon-open {
  	color: #ff00aa;
  }

  .icon-closed {
  	color: #888888;
  }

}
